{% extends "exam/base.html" %}

{% block content %}

      <div class="info-section">
        <h2 style="margin-bottom:16px;">INSTRUKSI PENGISIAN SELF ASSESSMENT</h2>
        <p>
          <b>Yth. Bapak/Ibu Guru PAUD,</b><br>
          Selamat datang di platform Self-Assessment Kompetensi Guru PAUD dalam Membangun Numeracy dan Scientific Thinking Skill Anak.<br>
          Instrumen ini dikembangkan oleh Pusat Riset Pendidikan – BRIN sebagai bagian dari penelitian tahun 2025 untuk mendukung peningkatan kualitas kompetensi guru PAUD, khususnya dalam menumbuhkembangkan keterampilan numerasi dan berpikir ilmiah anak usia dini.<br>
          Mohon luangkan waktu sejenak untuk membaca dan mengikuti petunjuk berikut sebelum memulai:
        </p>
        <h4>Petunjuk Umum:</h4>
        <ol>
          <li>Waktu pengisian angket ini diperkirakan memerlukan 30–45 menit.</li>
          <li>Tidak ada jawaban benar atau salah. Penilaian ini bersifat reflektif dan bukan evaluasi kinerja.</li>
          <li>Jawablah setiap pernyataan dengan jujur, berdasarkan pengalaman nyata dalam kegiatan pembelajaran yang Bapak/Ibu lakukan.</li>
          <li>Semua informasi yang diberikan bersifat rahasia dan hanya digunakan untuk keperluan riset. Identitas Bapak/Ibu tidak akan dicantumkan dalam laporan hasil penelitian.</li>
          <li>Isian wajib akan ditandai dengan simbol (*), pastikan semua bagian terisi untuk dapat melanjutkan ke bagian berikutnya.</li>
        </ol>
        <h4>Cara Mengisi:</h4>
        <ol>
          <li>Baca setiap pernyataan dengan cermat.</li>
          <li>Pilih jawaban yang paling sesuai dengan praktik atau pandangan pribadi Bapak/Ibu.</li>
          <li>Jika terdapat pertanyaan terbuka, isilah dengan singkat, padat, dan jelas sesuai pengalaman atau pendapat Bapak/Ibu.</li>
        </ol>
        <p>
          Terima kasih atas partisipasi Bapak/Ibu. Kontribusi Anda sangat berarti dalam peningkatan kualitas pendidikan anak usia dini di Indonesia.<br>
          <b>Hormat kami,<br>
          Tim Peneliti Pusat Riset Pendidikan dan Mitra Perguruan Tinggi<br>
          Badan Riset dan Inovasi Nasional (BRIN)</b>
        </p>
        <hr style="margin: 24px 0;">
        <div class="action-buttons">
          <button type="button" class="btn btn-primary" onclick="document.getElementById('ModalMulaiUjian').classList.add('show')">Mulai Ujian</button>        
        </div>  
      </div>



<!-- Modal -->
<div id="ModalMulaiUjian" class="modal">
  <div class="modal-content">
    <h3>Konfirmasi</h3>
    <p>Waktu akan mulai berjalan ketikan anda menglik tombol MULAI</p><br>
      <div class="action-buttons">
        <button onclick="document.getElementById('ModalMulaiUjian').classList.remove('show')" class="btn btn-warning">Batal</button>
        <a href="{% url 'exam:run' soal_no1.id %}"> <button class="btn btn-primary">Mulai Ujian</button></a>
      </div>
  </div>
</div>


    
{% endblock content %}