{% extends "exam/base.html" %}

{% block content %}

      <div class="timer">
        INFORMASI
      </div>

      <div class="info-section">
        <center>
          <h2>Selamat datang Bapak/Ibu Guru PAUD Indonesia</h2>
          <h2>pada Platform Self Assessment Kompetensi Guru PAUD Dalam Membangun Numeracy dan Scientific Thinking Anak.</h2>
        </center>
        <br>
        <p>
          Self Assessment ini dikembangkan oleh Peneliti Pusat Riset Pendidikan, Organisasi Riset Ilmu Sosial dan Humaniora (OR IPSH), BRIN sebagai bentuk dedikasi pada peningkatan kualitas kompetensi guru PAUD, khususnya dalam menumbuhkembangkan keterampilan numeracy dan scientific thinking skill Anak Usia Dini.
        </p>
        <br>
        <p>
          <b>Penelitian dan Pengembangan ini didanai oleh Rumah Program IPSH BRIN Tahun 2025</b> sebagai bagian dari upaya strategis dalam mendukung penguatan ekosistem PAUD di Indonesia.
        </p>
        <br>
        <p>
          Mohon luangkan waktu sejenak untuk membaca dan mengikuti petunjuk berikut sebelum memulai self assessment:
        </p>
        <br>
        <h4>Petunjuk Pengisian</h4>
        <ol  style="margin-left: 45px;">
          <li>Bacalah setiap butir pernyataan dengan saksama.</li>
          <li>Pelaksanaan self assessment berbasis web ini memerlukan waktu <b>45–60 menit.</b></li>
          <li>Assessment akan <b>berakhir secara otomatis</b> setelah melebihi 60 menit.</li>
          <li><b>Tidak ada jawaban yang salah</b>, assessment ini bersifat reflektif, bukan evaluasi kinerja.</li>
          <li>Jawablah setiap butir pertanyaan dengan <b>jujur</b>, karena kejujuran adalah kunci utama agar hasil yang diperoleh bermanfaat.</li>
          <li>Butir pernyataan dapat dijawab <b>tidak secara berurutan</b>, kerjakan sesuai kenyamanan Anda.</li>
          <li>Klik <b>“Save & Next”</b> untuk menyimpan jawaban dan berpindah pada butir pernyataan berikutnya.</li>
          <li>Klik <b>“Previous”</b> untuk kembali ke butir pernyataan sebelumnya, atau gunakan menu navigasi di sebelah kiri untuk mengecek butir yang belum terjawab.</li>
          <li>Soal yang telah terjawab akan berwarna hijau pada navigasi sebelah kiri.</li>
          <li>Klik <b>“End”</b> jika semua butir telah selesai dan Anda telah yakin dengan seluruh jawaban.</li>
          <li>Seluruh informasi yang diberikan bersifat rahasia dan hanya digunakan untuk keperluan riset.</li>
        </ol>
        <p>
          Terima kasih atas partisipasi Bapak/Ibu guru PAUD. Kontribusi Anda sangat berarti dalam peningkatan kualitas PAUD di Indonesia.
        </p>
        <div class="action-buttons">
          <button type="button" class="btn btn-primary" onclick="document.getElementById('ModalMulaiUjian').classList.add('show')">Mulai Self Assessment</button>
        </div>
      </div>



<!-- Modal -->
<div id="ModalMulaiUjian" class="modal">
  <div class="modal-content">
    <h3>Konfirmasi</h3>
    <p>Waktu akan mulai berjalan ketikan anda menglik tombol MULAI</p><br>
      <div class="action-buttons">
        <button onclick="document.getElementById('ModalMulaiUjian').classList.remove('show')" class="btn btn-warning">Batal</button>
        <a href="{% url 'exam:start' %}"> <button class="btn btn-primary">Mulai</button></a>
      </div>
  </div>
</div>


    
{% endblock content %}