{% extends "exam/base.html" %}

{% block content %}

     <div class="question">
        <p>{{soal_select.number}}. {{soal_select.text}}</p>
      </div>
      <div class="options">
        <label><input type="radio" name="q1"> A. {{soal_select.choice1}}</label>
        <label><input type="radio" name="q1"> B. {{soal_select.choice2}}</label>
        <label><input type="radio" name="q1"> C. {{soal_select.choice3}}</label>
        <label><input type="radio" name="q1"> D. {{soal_select.choice4}}</label>
      </div>
      <div class="action-buttons">
        {% if  soal_select.number != soal_no_min.number %}
        <a href="{% url 'exam:run' soal_back.id %}">
          <button type="button" class="btn btn-primary"><< Preview &amp; Save</button>
          <button type="submit" class="btn btn-warning"><< Preview</button>
        </a>
        {% endif %}
        {% if  soal_select.number != soal_no_max.number %}
        <a href="{% url 'exam:run' soal_next.id %}">
            <button type="button" class="btn btn-warning">Next >></button>
            <button type="submit" class="btn btn-primary">Save &amp; Next >></button>
          </a>
        {% endif %}
      </div>

        
{% endblock content %}